# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and test
coverage/
.nyc_output/

# Build / dist folders (jika pakai build tools)
dist/
build/

# IDE / Editor folders
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp
*.old

uploads/
